/* Always take up the viewport space */
.spotListRoute {
  height: 100vh;
  width: 100%;
  /* margin: 30px; */
  display: flex;
}

.spotListRouteListHolder {
  flex: 0 1 500px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.spotListRouteMapHolder {
  flex: 1;
}
