.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  /* Everything within the modal will be centered */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotDetailModalShadowLayer {
  background-color: #fff;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}

.spotDetailModal {
  position: absolute;
  width: 600px;
  height: 400px;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  background-color: rgba(200, 200, 200, .8);
  padding: 10px;
}

.spotDetailModalHeader {
  position: relative;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.spotDetailModalCloseButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

.spotDetailModalBody {
  padding: 20px 15px;
}

.spotDetailModalLocationTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
