.spotList {
  overflow-y: auto;
}

.spotListItem {
  border-bottom: 1px solid #eee;
  padding: 15px 30px;
  display: flex;
}

.spotListItemImageHolder {
  flex: 0 1 150px;
}

.spotListItemImageHolder img {
  width: 100%;
}

.spotListItemDetailsHolder {
  flex: 1;
  padding: 0 10px;
}

.spotListItemDetailsTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.spotListItemDetailsDistance {
  font-size: 13px;
  color: #736d68;
  margin-bottom: 10px;
}

.spotListItemDetailsLinkHolder {
  font-size: 14px;
}
